body {
    color: white;
    background-color: black;
    font-family: Lato, Arial;
    text-align: center;
}

p {
    font-size: 14pt;
}

h1 {
    color: yellow;
}

h2 {
    padding-top: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #242323;
    border-radius: 10px; 
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4141419d;
}

.active {
    background-color: #46c295;
}
.active:hover {
    background-color: #46c295; 
}
.image {
    width: 500px; 
    height: auto;
}